body {
    font-family: "Avenir Next";
    margin:0;
}

body{
    background-image: url("../img/siguma.jpeg");
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

body:before{
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}

.header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.under{
    background: linear-gradient(transparent 70%, yellow 70%);
}

.hello{
    padding-left: 20px;
}


.about_me{
    padding-left: 40px;
}

.introduction img{
    padding-left: 20px;
}

.introduction h3{
    padding-left: 20px;
}

.history li{
    padding-left: 40px;
    font-weight: bold;
}

.history h3{
    padding-left: 20px;
}